<div class="col-sm-4">
  <%= link_to path do %>
      <div class="panel panel-default">
        <div class="panel-heading"><%= title %></div>
        <div class="panel-body"><%=	image_tag img, class: 'img-responsive' %></div>
      </div>
  <% end %>
</div>