<% provide(:title, 'People') %>

<h1>People</h1>

<div id="people_table" class="container">
  <%= render partial: 'people_table', locals: { people: @people } %>
</div>

<div id="people_pagination" class="container">
  <%= render partial: 'pagination', locals: { pages_n: @pages_n, page: @page } %>
</div>

<div class="form-group">
  <label for="sel_ppl_per_page">Per page:</label>
  <%= select_tag :per_page,
                 options_for_select( page_sizes.zip page_sizes ),
                 class: 'form-control',
                 id: 'sel_ppl_per_page'
  %>
</div>
