<% provide(:title, 'People') %>

<h1>People</h1>

<div id="people_table" class="container">
  <%= render partial: 'people_table', locals: { people: @people } %>
</div>

<ul class="pagination">
  <% 1.upto(@pages_n) do |i| %>
      <li><%= link_to i, fetch_people_path(page: i), remote: true %></li>
  <% end %>
</ul>
