@import 'bootstrap-sprockets';
@import 'bootstrap';

// Table rows
.clickable-row {
  cursor: pointer;
}

// Spoilers
summary {
  outline: none;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: 0;
}

.panel-body {
  padding: 0;
}

